@model Assesment.Models.AppointmentTable

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AppointmentTable</h4>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalIssue" class="control-label"></label>
                <select id="disease" asp-for="MedicalIssue" class ="form-control" asp-items="ViewBag.MedicalIssue"></select>
            </div>
            <div class="form-group">
                <label asp-for="DoctorToVisit" class="control-label"></label>
                <input id="doctorname" asp-for="DoctorToVisit" class="form-control" />
                <span asp-validation-for="DoctorToVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorAvailableTime" class="control-label"></label>
                <input id="AvailableTime" asp-for="DoctorAvailableTime" class="form-control" />
                <span asp-validation-for="DoctorAvailableTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentTime" class="control-label"></label>
                <input asp-for="AppointmentTime" class="form-control" />
                <span asp-validation-for="AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#disease').change(function() {
            //alert("Entered");
            var formdata = new FormData();
            formdata.append("disease", $("#disease").val());
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetData","AppointmentTables")',
                processData: false,
                contentType: false,
                data: formdata,
                success: function (result) {
                    
                    $("#doctorname").val(result.doctorName);
                    $("#AvailableTime").val(result.availableTime);
                }
            });



        });



    });



</script>